<a href="https://colab.research.google.com/github/G100A008/-/blob/master/AI_DL_0318_.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# install msft.csv

In [37]:
!wget https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv

--2022-03-18 07:17:45--  https://raw.githubusercontent.com/PacktPublishing/Learning-Pandas-Second-Edition/master/data/msft.csv
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.111.133, 185.199.109.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 153109 (150K) [text/plain]
Saving to: ‘msft.csv.3’

msft.csv.3          100%[===================>] 149.52K  --.-KB/s    in 0.009s

2022-03-18 07:17:45 (16.8 MB/s) - ‘msft.csv.3’ saved [153109/153109]

In [38]:
!ls

msft.csv    msft.csv.2	msft_G100A008.csv  stocks.xlsx
msft.csv.1  msft.csv.3	sample_data

In [62]:
import numpy as np
import pandas as pd

# used for dates
import datetime
from datetime import datetime, date

# Set some pandas options controlling output format
pd.set_option('display.notebook_repr_html', False)
pd.set_option('display.max_columns', 8)
pd.set_option('display.max_rows', 10)
pd.set_option('display.width', 90)

# bring in matplotlib for graphics
import matplotlib.pyplot as plt
%matplotlib inline

# Reading a CSV into a DataFrame

In [39]:
import pandas as pd

In [40]:
!head -n 5 msft.csv

Date,Open,High,Low,Close,Volume
7/21/2014,83.46,83.53,81.81,81.93,2359300
7/18/2014,83.3,83.4,82.52,83.35,4020800
7/17/2014,84.35,84.63,83.33,83.63,1974000
7/16/2014,83.77,84.91,83.66,84.91,1755600

In [41]:
msft = pd.read_csv("./msft.csv")
msft

           Date   Open   High    Low  Close   Volume
0     7/21/2014  83.46  83.53  81.81  81.93  2359300
1     7/18/2014  83.30  83.40  82.52  83.35  4020800
2     7/17/2014  84.35  84.63  83.33  83.63  1974000
3     7/16/2014  83.77  84.91  83.66  84.91  1755600
4     7/15/2014  84.30  84.38  83.20  83.58  1874700
...         ...    ...    ...    ...    ...      ...
3762   1/7/2000  48.55  50.35  47.80  50.00  4621200
3763   1/6/2000  46.78  48.35  46.28  48.03  3306100
3764   1/5/2000  46.94  47.50  45.92  46.75  4809900
3765   1/4/2000  49.80  49.80  47.72  47.85  4489500
3766   1/3/2000  52.70  53.20  49.60  49.75  3137300

[3767 rows x 6 columns]

In [42]:
# use column 0 as the index
msft = pd.read_csv("./msft.csv", index_col=0)
msft[:5]

            Open   High    Low  Close   Volume
Date
7/21/2014  83.46  83.53  81.81  81.93  2359300
7/18/2014  83.30  83.40  82.52  83.35  4020800
7/17/2014  84.35  84.63  83.33  83.63  1974000
7/16/2014  83.77  84.91  83.66  84.91  1755600
7/15/2014  84.30  84.38  83.20  83.58  1874700

In [43]:
df2 = pd.read_csv("./msft.csv", 
                  usecols=['Date', 'Close'], 
                  index_col=['Date'])
df2[:5]

           Close
Date
7/21/2014  81.93
7/18/2014  83.35
7/17/2014  83.63
7/16/2014  84.91
7/15/2014  83.58

In [44]:
df2.to_csv("./msft_G100A008.csv", index_label='date')

In [45]:
# view the start of the file just saved
!head -n 5 ./msft_G100A008.csv

date,Close
7/21/2014,81.93
7/18/2014,83.35
7/17/2014,83.63
7/16/2014,84.91

# Read excel 比較醜的結果要整理成表格放在POWER POINT JSON那邊也是

In [58]:
df = pd.read_excel("stocks.xlsx") #把excel檔載下然後讀取前五筆資料
df[:5]

        Date   Open   High    Low  Close   Volume
0 2014-07-21  83.46  83.53  81.81  81.93  2359300
1 2014-07-18  83.30  83.40  82.52  83.35  4020800
2 2014-07-17  84.35  84.63  83.33  83.63  1974000
3 2014-07-16  83.77  84.91  83.66  84.91  1755600
4 2014-07-15  84.30  84.38  83.20  83.58  1874700

In [65]:
df.to_excel("./stocks2.xls")

/usr/local/lib/python3.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: As the xlwt package is no longer maintained, the xlwt engine will be removed in a future version of pandas. This is the only engine in pandas that supports writing in the xls format. Install openpyxl and write to an xlsx file instead. You can set the option io.excel.xls.writer to 'xlwt' to silence this warning. While this option is deprecated and will also raise a warning, it can be globally set and the warning suppressed.
  """Entry point for launching an IPython kernel.