<a href="https://colab.research.google.com/github/G100A008/Python/blob/master/G100A008_%E6%9C%9F%E4%B8%AD%E8%80%83%E9%A1%8C%E7%9B%AE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [234]:
import pandas as pd

# 讀取 Excel 檔案
df = pd.read_excel('第一題資料.xlsx')

# 指定要排序的欄位
sort_column = df.columns[8]  # 取得第八個欄位的名稱

# 將欄位的資料轉換為數字型別
df[sort_column] = pd.to_numeric(df[sort_column], errors='coerce')

# 依據指定欄位的值進行排序
df = df.sort_values(by=sort_column)

# 輸出排序後的資料
df

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,崑山科技大學,資工系,財產清冊,Unnamed: 10,Unnamed: 11,Unnamed: 12
972,60701-17 2990-2991,折合椅,鐵、黑腳綠皮,南一,NaN,2,張,60,120.0,2004/11/16,NaN,999,雲端中心-智慧型行動裝置研究室
846,60112-167 269-269,256MB隨身碟,NaN,NaN,NaN,1,個,200,200.0,2007/03/30,5,999,資工-教師研究室
878,60112-169 332-332,RFID讀卡機,頻率:13.56MHz相容卡，支援Mifare標準，USB輸出介面。,NFC,JT308,1,個,260,260.0,2020/05/18,5,999,資工-辦公室
869,60112-167 1595-1595,隨身碟,64G,JetFlash,TS64GJF790W,1,個,299,299.0,2020/06/23,5,999,資工-教師研究室
871,60112-167 1605-1605,隨身碟,128G,Helios,NaN,1,個,418,418.0,2020/10/29,5,999,資工-教師研究室
...,...,...,...,...,...,...,...,...,...,...,...,...,...
0,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,財產編號,品名,規格,廠牌,型號,數量,單位,單價,NaN,驗收日期,使用年限,會計項目,放置位置
650,NaN,NaN,NaN,NaN,NaN,NaN,NaN,崑山科技大學,NaN,非消耗帳清冊,NaN,NaN,NaN
651,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,列印日期
652,財產編號,品名,規格,廠牌,型號,數量,單位,單價,NaN,驗收日期,使用年限,會計項目,放置位置