<a href="https://colab.research.google.com/github/G100A008/Python/blob/master/G100A008_%E6%9C%9F%E4%B8%AD%E8%80%83%E9%A1%8C%E7%9B%AE.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [194]:
import pandas as pd


# 讀取 Excel 檔案 
excel_file = pd.read_excel('第一題資料.xlsx')

# 處理空值
excel_file = excel_file.fillna(' ')  # 使用 ' ' 字串填充空值

# 印出 DataFrame 內容

In [195]:
excel_file

,Unnamed: 0,Unnamed: 1,Unnamed: 2,Unnamed: 3,Unnamed: 4,Unnamed: 5,Unnamed: 6,崑山科技大學,資工系,財產清冊,Unnamed: 10,Unnamed: 11,Unnamed: 12
0,,,,,,,,,,,,,
1,財產編號,品名,規格,廠牌,型號,數量,單位,單價,總價,驗收日期,使用年限,會計項目,放置位置
2,2010301-I3 4-4,I3301教室整修工程,包括電源佈線工程包含電源配線；雙連附接地型插座*30座；62點網路佈線及冷氣管路美化裝修，詳...,華棋,訂製品,1,式,153000,153000,2017/10/05,5,133101,資工-多媒體網路實驗室
3,2010301-I3 5-5,I3302教室整修工程,I3302教室整修工程，包含86平方公尺油漆、冷氣管路美化裝修、網路佈線共60點、27坪30...,詳驗收單,,1,式,223700,223700,2018/10/04,5,133101,資工-資訊與電腦視覺實習室
4,2010301-I5 4-4,自動光學檢測實驗室建置費,I5301自動光學檢測實驗室建置，包括配置220電壓/100安培、110V插座*10點、配電...,都邦,客製化,1,式,214950,214950,2018/12/04,10,133101,資工-自動光學檢測實驗室
...,...,...,...,...,...,...,...,...,...,...,...,...,...
1030,65010301-01 1554-1554,辦公桌,木製,,,1,張,5100,5100,2002/07/19,5,999,資工-教師研究室
1031,65010301-01 1555-1555,辦公桌,木製,,,1,張,5100,5100,2002/07/19,5,999,資工-教師研究室
1032,65010301-06 60-60,書櫃,木製,,,1,個,7000,7000,2002/07/19,5,999,資工-教師研究室
1033,65010301-11 666-671,電腦桌,HU-150 (鋼木)150,,,6,張,5235,31410,2001/06/05,5,999,資工-自動光學檢測實驗室
1034,65010304-02 185-193,迴轉椅,SP-03F,,,9,張,1930,17370,1992/12/28,5,999,資工-網管資安實習室