<a href="https://colab.research.google.com/github/G100A008/Python/blob/master/G100A008_%E6%9C%9F%E6%9C%AB.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [3]:
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib.mlab as mlab


df = pd.read_csv('STK_test_2022.csv')

In [4]:
df

,1,0,17.81,100,101652.42,227.52,15.03,1.797408,0.005695,94.949122
0,2,0.0,17.84,100.00,101656.69,256.32,15.13,2.024928,0.089243,94.986177
1,3,0.0,17.84,100.00,101656.69,256.32,15.13,2.024928,0.317080,95.087292
2,4,0.0,17.89,100.00,101654.39,277.92,15.23,2.195568,0.544880,95.188490
3,5,0.0,17.91,100.00,101657.83,303.84,15.42,2.400336,0.772645,95.289774
4,6,0.0,17.92,100.00,101664.14,357.12,15.42,2.821248,1.000372,95.391147
...,...,...,...,...,...,...,...,...,...,...
2117,2119,0.0,21.25,88.14,101440.01,673.92,18.58,5.323968,0.828673,265.752062
2118,2120,0.0,21.18,88.20,101435.27,599.04,18.38,4.732416,0.600787,265.853813
2119,2121,0.0,21.14,89.13,101443.97,524.16,18.28,4.140864,0.372870,265.955494
2120,2122,0.0,21.03,90.02,101446.02,460.80,18.28,3.640320,0.144926,266.057108
2121,2123,0.0,20.97,90.65,101443.97,403.20,18.58,3.185280,-0.003254,266.123123